.QuoteButton {
  display: inline-block;
  float: right;

  margin-top: 3rem;
}

#new-quote:active {
  background-color: white;
}

#new-quote {
  padding: 0.5rem;

  background-color: black;
  color: white;

  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  cursor: pointer;

  text-align: right;
}
