
.App {
  background-color: white;

  min-width: 360px;
  width: 67%;
  margin: 5rem auto;
  padding: 1rem 1.5rem;

  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  overflow: hidden;
}

#tweet-quote {
  display: inline-block;
  float: left;

  margin-top: 3rem;
}

#tweet-quote:active {
  background-color: white;
}


.tweet-button img {
  box-sizing: border-box;
  width: 2.33rem;
  background-color: black;

  padding: 0.33rem;

  border-radius: 5px;

}
